# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
venv311/
env/
.env

# IDEs
.vscode/
.idea/

# Distribution / Build
build/
dist/
*.spec

# Project specific
*.log
output.ply
QuestStream.egg-info/
nerfstudio_venv/
outputs/
temp/
